*{
    margin:0;
    padding: 0;
}
body{
    background-color: #ebebeb;
}
.main_page{
    width: 100%;
    margin: 0 auto;
}
.main_page .top{
    width:100%;
    height: 42px;
    background-color: #2b2b2b;
}
.main_page .top>form{
    margin-right: 5px;
    float: right;
}
.main_page .top>form>input[type="search"]{
    width:300px;
    height:25px;
    padding: 0 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #3d3d3d;
    box-sizing: border-box;
    border:none;
}
.main_page .top>form>input[type="search"]:focus{
    background-color: white;
}
.main_page .top>form>input[type="submit"]{
    position:relative;
    top:8px;
    right:4px;
    height:25px;
    width:25px;
    background: #cf2c38 url("search_img.png") no-repeat  center center;
    /*background-color: #cf002f;
    background-image: url("search_img.png");*/
    background-size: 15px 15px;
    /*background-repeat: no-repeat;
    background-position: center center;*/
    border:none;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.main_page .bottom{
    background:#cf2c38;
}
.main_page .bottom .logo{
    position: relative;
    margin:36px 30px 36px 80px;
    display: inline-block;
}
.main_page .bottom .logo>h1{
    display: inline;
    font-size: 40px;
    line-height: 42px;
    font-family: 'El Messiri', sans-serif;
    color: white;
}
.main_page .bottom .logo>h1::before{
    content:" ";
    background-image: url("news-vector.png");
    background-size: 50px 50px;
    display: inline-block;
    position: absolute;
    left:-60px;
    top:-10px;
    width: 50px;
    height: 50px;
}
.main_page .bottom .nav_panel{
    margin:36px 10px 36px 0px;
    float:right;
    list-style: none;
}
.main_page .bottom .nav_panel ul>li{
    display: inline-block;
}
.main_page .bottom .nav_panel ul>li>a{
    display: block;
    padding: 0 20px;
    text-decoration: none;
    font-family: Arial;
    font-size: 18px;
    color: white;
}

.main_page .main_content{
    padding:0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.main_page .main_content .panel{
    margin:2px 0;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    border:1px solid #bbbbbb;
}
.main_page .main_content .panel.left , .main_page .main_content .panel.right{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width:25%;
    border: none;
}
.main_page .main_content .panel .block{
    margin-bottom: 2px;
    padding-bottom: 5px;
    width:100%;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    border:1px solid #bbbbbb
}
.main_page .main_content .panel .block p{
    margin-right: 10px;
}
.main_page .main_content .panel .block>h3 {
    display: block;
    overflow:no-display;
    margin-bottom: 10px;
    box-shadow: 0px 10px 15px -5px black;
    border-radius: 5px 5px 0 0;
    background-color: #cf2c38;
    text-align: center;
    line-height: 35px;
    font-size: 25px;
    font-family: 'EB Garamond', serif;
    color: #ffffff;
    height: 40px;
}
.main_page .main_content .panel .block .news_item{
    margin:5px;
    padding:5px;
    border-bottom: 1px solid #bbbbbb ;
}
.main_page .main_content .panel .block .news_item h3{
    overflow:hidden;
}
.main_page .main_content .panel .block .news_item img{
    box-sizing: border-box;
    width:80px;
    height:80px;
    float: left;
    padding: 3px;
}

.news_view a{
    display:inline-block;
    width:100px;
    height:50px;
    text-decoration:none;
    color:black;
    border:2px solid black;
}
.panel.center h3{
    padding:15px 0;
    background-color: #cf2c38;
    border-radius: 5px;
    text-align: center;
    font-family: 'El Messiri', sans-serif;
    font-size: 30px;
    color: white;
}

.panel.center table{
    margin:30px auto;
}

.panel.center table td{
    padding: 10px;
    text-align: right;
    vertical-align: top;
}
.panel.center table tr:nth-child(2) td{
    text-align: left;
}
.panel.center form label{
    font-family: 'El Messiri', sans-serif;
    font-size: 25px;
    color: #cf2c38;
}

.panel.center form input[type="text"] ,.panel.center form textarea , .panel.center form input[type="file"] {
    width:300px;
    max-width: 620px;
    height:40px;
    background-color: #3d3d3d;
    border: 1px solid #919191;
    border-radius: 10px;
    font-size: 20px;
    box-sizing: border-box;
    padding: 0 10px;
    color: white;
}

.panel.center form input[type="file"]{
    font-size: 14px;
}

.panel.center form textarea{
    height:300px;
    width: 100%;
    font-size: 14px;
}

.panel.center form input[type="submit"]{
    padding:0 10px;
    height:50px;
    font-family: 'EB Garamond', serif;
    color: white;
    font-size: 18px;
    background-color: #cf2c38;
    border-radius: 10px;
}

.panel.center form input[type="text"]:focus ,.panel.center form textarea:focus{
    background-color: white;
    color: black;
}
.main_page .main_content .panel .block .news_item{
    overflow: hidden;
}
.main_page .main_content .panel .block .news_item h3{
    text-align: center;
}
.main_page .main_content .panel .block .news_item h3>a{
    font-size: 15px;
    font-family: Arial;
    text-decoration: none;
    color: #037074;
}
.main_page .main_content .panel .block .news_item h3>a:hover{
    text-decoration: underline;
    color: #03979b;
}
.main_page .main_content .panel .block .news_item p{
    text-align: justify;
    font-size: 13px;
    font-family: Arial;
}
.main_page .main_content .panel.center{
    margin:2px;
    width:50%;
}
.main_page .footer{
    height:100px;
    text-align: center;
    border-top: 10px solid #801d20;
    background-color: #2b2b2b;
    color: white;
}
.news_panel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
.main-title {
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-family: 'El Messiri', sans-serif;
    color: white;
}
.main-title :hover{
   
    color: black;
}

.main_page .main_content .panel.center .news_item{
    padding: 5px;
}
.main_page .main_content .panel.center .news_item .images{
    width:230px;
    height:230px;
    /*background-image: url("tiDNCMp.png");
    background-size:100% 100%;
    background-position: center center;*/
}
.FullItemImg {
    max-height: 600px;
    max-width: 400px;
}
.EditImg {
    height: 250px;
    width: auto;
    position:center;
}
/*.main_page .main_content .panel.center .news_item{
    width:100%;
    padding: 10px;
    height:210px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.main_page .main_content .panel.center .news_item .images{
    width:150px;
    height:150px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    padding:4px;
    border: 1px solid #919191;
    border-radius: 4px;
    box-sizing: border-box;
}
.main_page .main_content .panel.center .news_item img{
    width:100%;
    height:100%;
}*/
.main_page .main_content .panel.center .news_item h3{
    font-family: Arial;
    font-weight: bold;
    font-size: 17px;
    border-bottom:3px solid #cf2c38;
}
.main_page .main_content .panel.center .news_item h3>a{
    text-decoration: none;
    color: #2b2b2b;
}
.main_page .main_content .panel.center .news_item h3>a:hover{
    color: #037074;
}
/*
.main_page .main_content .panel.center .news_item .time{
    display: block;
    font-family: Arial;
    font-size: 12px;
    color: #919191;
}
.main_page .main_content .panel.center .news_item p{
    margin-top: 10px;
    font-family: Arial;
    font-size: 15px;
    color: #2b2b2b;
}
.main_page .main_content .panel.center .news_item p>a{
    text-decoration: none;
    color: #cf2c38;
}*/
.navigation{
    display: flex;
    flex-direction:  row;
    justify-content: center;
    align-items: flex-end;
}
.navigation a{
    margin:5px 10px;
    width:30px;
    height:30px;
    background-color: #cf2c38;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: white;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0px 10px 15px -5px black;
}
.navigation a:hover{
    text-decoration: underline;
}
.news_view{
    width:95%;
    padding:10px;
    overflow: hidden;
}
.news_view .publicate_time{
    display: block;
    font-size: 19px;
    color: #474747;
    margin-bottom: 10px;
}
.news_view img{
    width:50%;
    height:25%;
    float: left;
    margin-bottom: 10px;
    margin-right:10px;
}
.news_view p{
    font-family: "Times New Roman";
    font-size: 20px;
    text-align: justify;
    line-height: 1.5em;
}

.news_view>h2{
    margin-bottom: 10px;
    border-bottom: 3px solid #cf2c38;;
    font-family: 'EB Garamond', serif;
    font-size: 35px;
    text-align: left;
    color: black;
}

@media (max-width: 980px) {

    .main_page .bottom{
        position: relative;
        background:#cf2c38;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_page .bottom .nav_panel {
        margin:10px auto;
        float:none;
        list-style: none;
    }
    .main_page .bottom .nav_panel ul>li>a{
        text-decoration: none;
        font-family: Arial;
        padding: 15px 20px;
        box-sizing: border-box;
        margin-right: -5px;
        font-size: 18px;
        background-color: #2b2b2b;
        color: white;
    }
    .main_page .bottom .nav_panel ul>li>a:hover{
        box-shadow: 0px 10px 10px -5px #621719;
    }
    .main_page .bottom .nav_panel ul>li>a:active{
        background-color: #912226;
    }
    .main_page .main_content{
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    .main_page .main_content .panel.left , .main_page .main_content .panel.center , main_page .main_content .panel.right{
        width:100%;
        border:none;
        margin:0;
        border-radius: 0px;
    }
    .main_page .main_content .panel .block{
        margin-bottom: 0px;
        padding-bottom: 0px;
        width:100%;
        border:none;
        border-radius: 0px;
        box-sizing: border-box;
        background-color: white;
        border-top: 2px solid #942228;
    }
    .main_page .main_content .panel .block .news_place{
        display: flex;
        align-items:center;;
        flex-direction: row;
    }
    .main_page .main_content .panel .block .news_item{
        border-bottom:none ;
        border-right: 1px solid #bbbbbb;
    }
    .main_page .main_content .panel .block .news_item:last-child{
        border-right: none;
    }
    .main_page .main_content .panel .block>h3 {
        border-radius:0px;
        text-align: center;
        line-height: 35px;
        font-size: 25px;
        font-family: 'EB Garamond', serif;
        color: #ffffff;
        height: 40px;
    }

}
@media (max-width: 750px) {
    .main_page .main_content .panel .block .news_place{
        flex-direction: column;
        align-items: center;
    }
    .main_page .main_content .panel .block .news_item{
        border-bottom:1px solid #bbbbbb;
        border-right: none;
    }
}