*{
    margin:0;
    padding:0;
}
.main-page{
    margin:0 auto;
    width:1200px;
}
h1{
    font-family: 'Scada', sans-serif;
}
.hidden{
    position: relative;
    visibility: hidden;
    z-index: -1;
}
.fixed{
    position: fixed;
    top:0px;
}

.bg-container{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: rgb(0, 0, 0);
    z-index: 3;
    opacity:0.9;
    display: none;
}
 .login-window{
    position: fixed;
    top:0%;
    left:30%;
    width:400px;
    height:220px;
    padding:10px;
    border:1px solid #b7b7b7;
    border-radius: 5px;
    z-index: 9999;
    opacity: 0;
    background-color: white;
     display: none;
}
.login-window label{
    display: block;
    text-align: center;
    margin:10px 0;
    font-family: 'Scada', sans-serif;
    font-size: 20px;
    letter-spacing: -1px;
}
.login-window form input[type="text"] , .login-window form input[type="password"]{
    width:100%;
    padding:5px;
    font-family: 'Scada', sans-serif;
    font-size: 20px;
    text-align: center;
}
.login-window form input[type="submit"] , .login-window a{
    display: inline-block;
    text-decoration: none;
    margin:10px 0;
    border: none;
    background-color: white;
    padding:5px;
    font-family: 'Scada', sans-serif;
    font-size: 20px;
    color: black;
    letter-spacing: -1px;
    transition-property: all;
    transition-duration: 0.4s;
}
.login-window form input[type="submit"]:hover{
    color:#0093ff;
    cursor: pointer;
}
.login-window a{
    font-size: 14px;
    float: right;
}
.login-window a:hover{
    color: #e6222e
}
.right-content{
    margin-left:300px;
}
header .logo{
    margin-top:30px;
    margin: 0 auto;
    position:relative;
    box-sizing: border-box;
    width:1200px;
    height:170px;
    border:8px solid rgb(82, 143, 188);
}
header .logo:hover .news{
    left:250px;
}
header .logo:hover .portal{
    right:350px;
}
.logo .news{
    display: block;
    position: absolute;
    top:30px;
    left:-18px;
    padding: 5px;
    background-color: white;
    font-size: 70px;
    letter-spacing: 35px;
    transition-property: all;
    transition-duration: 1s;
}
.logo .portal{
    position: absolute;
    display: block;
    padding-left: 30px;
    bottom:-40px;
    right:60px;
    font-size: 70px;
    color:rgb(82, 143, 188);
    letter-spacing: 40px;
    background-color: white;
    transition-property: all;
    transition-duration: 1s;
}
header nav{
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 5;
}
header ul{
    float: left;
    margin-top:30px;
}
header ul li{
    display: inline-block;
    list-style: none;
    padding:10px;
}
header ul li a{
    text-decoration: none;
    font-family: 'Scada', sans-serif;
    font-weight:bolder;
    font-size:23px;
    letter-spacing: 1px;
    color: black;
    font-variant: small-caps;
    transition-property: all;
    transition-duration: 0.4s;
}
header ul li a:hover{
    color:#0093ff;
}
header form{
    position: relative;
    top:-80px;
    width: 100%;
    margin-top:35px;
    float: right;
    overflow: hidden;
    z-index:1;
}
header form input[type="search"]{
    position: relative;
    width:100%;
    height: 50px;
    border:none;
    border-bottom: 5px solid #363636;
    box-sizing: border-box;
    padding-left:10px;
    z-index: 100;
}
header form input[type="search"]:focus{
    outline: none;
}
header form input[type="button"]{
    position: relative;
    top:-45px;
    float: right;
    width:40px;
    height:40px;
    border:none;
    background: white url(Images/search-icon.png);
    background-size: 100px 100px;
    background-position: center;
    z-index: 100;
}
.content{
    position: relative;
    top:-80px;
    width:100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.content .left.block{
    width:300px;
}
.content .right.block{
    width:70%;
    padding-left:2.5%;
}
.content .left .post{
    margin-bottom: 15px;
    display: flex;
    flex-direction:column;
}
.content .left header h3{
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #bababa;
    text-align: center;
}
.content .left header h3 span{
    position: relative;
    top:11px;
    padding: 0 20px;
    background-color: white;
    font-family: 'Scada', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-variant: small-caps;
    
}
.content .left header h3:before , .content .left header h3:after{
    position:absolute;
    top:23px;
    content:"";
    width:5px;
    height:5px;
    background-color: #0093ff;
    z-index: 1;
}
.left .news-item{
    width:100%;
    overflow: hidden;
    margin-bottom: 5px;
}
.left .news-item .upload-time{
    font-family: 'Scada', sans-serif;
    font-size: 13px;
    letter-spacing: 3px;
    color: #bababa;
}
.left .news-item h3 a{
    font-family: 'Scada', sans-serif;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: -1px;
    font-variant: small-caps;
    font-weight:normal;
    color:black;
    line-height: 1em;
    transition-property: all;
    transition-duration: 0.3s;
}
.left .news-item h3 a:hover{
    color:#0093ff;
}
.left .news-item .news-img{
    float: left;
    width:110px;
    height:110px;
    margin-right:20px;
}
.left .news-item .news-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.85;
    transition-property: all;
    transition-duration: 1s;
}
.left .news-item:hover .news-img img, .right .news-item:hover .news-img img{
    opacity:1;
    object-position: left;
}
.left .news-item:nth-child(2n):hover .news-img img, .right .news-item:nth-child(2n):hover .news-img img{
    opacity:1;
    object-position:right;
}
.right.block{
    display: flex;
    flex-direction: column;
}
/*ПРОБНЫЙ ВАРИАНТ*/
.right .news-item:nth-child(2n) .news-img{
    float: right;
}
.right .news-item:nth-child(2n) h3 a{
    left:-25px;
    padding:10px 20px 20px 0px;
    text-align: right;
    border:1px solid #b7b7b7;
    border-right:5px solid rgb(82, 143, 188); 
}
.right .news-item:nth-child(2n) h3 a:before{
    content:"";
    position: absolute;
    bottom: -33px;
    left:18px;
    width: 100px;
    height:100px;
    background-color: rgba(72, 72, 72, 0.51);
    z-index:-1;
    transform: rotate(-60deg);
}
.right .news-item:nth-child(2n) h3 a:after{
    content: none;
}
/*ПРОБНЫЙ ВАРИАНТ*/
.right .news-item{
    position: relative;
    width:100%;
    height:350px;
    background-color: white;
    border: 1px solid #b7b7b7;
    margin-bottom: 40px;
    box-shadow: 20px 0px 25px -20px black, -20px 0px 25px -20px black;
}
.right .news-item .news-img{
    float:left;
    width:50%;
    height:100%;
    /*background-image: url(Images/nastol.com.ua_203349.jpg);
    background-position: center center;
    background-size: cover;*/
    transition-property: opacity , background-position;
    transition-duration: 0.4s , 1s;
}
.right .news-item .news-img img{
    width:100%;
    height:100%;
    opacity: 0.75;
    transition-property: all;
    transition-duration: 1s;
    object-position: center;
    object-fit: cover;
}
.right .news-item .upload-time{
    margin-top:20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Scada', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    color: black;
    opacity: 0.5;
}
.right .news-item h3 a{
    display: block;
    width:500px;
    position: absolute;
    right:-25px;
    border:1px solid #b7b7b7;
    border-left: 5px solid rgb(82, 143, 188); 
    padding: 10px 0 10px 20px;
    text-decoration: none;
    font-family: 'Scada', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    color: black; 
    background-color: white;
    transition-property: all;
    transition-duration: 0.5s;
}
.right .news-item h3 a:after{
    content:"";
    position: absolute;
    bottom: -33px;
    right:18px;
    width: 100px;
    height:100px;
    background-color: rgba(72, 72, 72, 0.51);
    z-index:-1;
    transform: rotate(60deg);
}
.right .news-item h3 a:hover{
    color:rgb(82, 143, 188);
}
.right .news-item>a{
    position: absolute;
    bottom: 30px;
    padding:0 20px;
    text-decoration: none;
    font-family: 'Scada', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
    color: black; 
    opacity: 0.5;   
    transition-property: all;
    transition-duration: 0.5s;
}
.right .news-item>a:hover{
    opacity: 1;
}
#to-up{
    display: inline-block;
    text-decoration: none;
    font-family: 'Scada', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
    color: black; 
    opacity: 0.5;
    transition-property: all;
    transition-duration: 1s;
}
#to-up:hover{
    opacity: 1;
}

/*Style for one News*/

.right .news-view{
    position: relative;
    border: 1px solid #b7b7b7;
    box-shadow: 20px 0px 25px -20px black, -20px 0px 25px -20px black;
    background-color: white;
}
.right .news-view .news-img{
    width:100%;
    height:400px;
    position: relative;
}
.right .news-view .news-img .hide{
    position: absolute;
    width:100%;
    height:100%;
    top:0px;
    transition-property: all;
    transition-duration: 1s;
}
.right .news-view .news-img:hover .hide{
    background-color: rgba(0, 0, 0, 0.72);
}
.right .news-view .news-img img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
.right .news-view .news-img .upload-date{
    display: block;
    position: absolute;
    top:0px;
    right:0px;
    padding: 30px;
    font-family: 'Scada', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
    color: white; 
    z-index: 100;
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
}
.right .news-view .news-img:hover .upload-date{
    opacity: 1;
}
.right .news-view .news-img:hover .edit{
    opacity: 1;
    z-index: 100;
}
.right .news-view h3{
    position: relative;
    width:101%;
    left:-3%;
    padding: 15px 20px;
    background-color: #ffffff;
    border: 1px solid #b7b7b7;
    font-family: 'Scada', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
}
.right .news-view h3:after{
    content:"";
    position: absolute;
    bottom: -33px;
    right:18px;
    width: 100px;
    height:100px;
    background-color: rgba(72, 72, 72, 0.51);
    z-index:-1;
    transform: rotate(60deg);
}
.right .news-view h3:before{
     content:"";
    position: absolute;
    bottom: -33px;
    left:18px;
    width: 100px;
    height:100px;
    background-color: rgba(72, 72, 72, 0.51);
    z-index:-1;
    transform: rotate(-60deg);
}
.right .news-view .news-img .edit{
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding:20px;
    font-family: 'Scada', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
}
.right .news-view .news-img .edit:hover{
    color: #0093ff;
}
.right .news-view .news-description{
    padding: 20px;
    text-align: justify;
    text-indent: 40px;
    font-family: 'Scada', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: normal;
}

/*Style or Creating News*/

.right .news-create{
    position: relative;
    border: 1px solid #b7b7b7;
    background-color: white;
    box-shadow: 20px 0px 25px -20px black, -20px 0px 25px -20px black;
}

.right .news-create header{
    position: relative;
    padding:10px;
    text-align: center;
}

.right .news-create header h3{
    position: relative;
    top:-30px;
    display: inline;
    padding:0 20px;
    background-color: white;
    font-family: 'Scada', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.right .news-create header h3:after{
    position:absolute;
    top:17px;
    right: 0px;
    content:"";
    width:5px;
    height:5px;
    background-color: #0093ff;
    z-index: 1;
}
.right .news-create header h3:before{
    position:absolute;
    top:17px;
    left:0px;
    content:"";
    width:5px;
    height:5px;
    background-color: #0093ff;
    z-index: 1;
}

.right .news-create:after{
    position: absolute;
    top:55px;
    right:50px;
    transform: rotate(-45deg);
    content: "";
    height:150px;
    width:40px;
    background-color: rgba(46, 46, 46, 0.47);
}
.right .news-create:before{
    position: absolute;
    bottom:-5px;
    left:50px;
    transform: rotate(-45deg);
    content: "";
    height:150px;
    width:40px;
    background-color: rgba(46, 46, 46, 0.47);
}
.right .news-create form{
    position: relative;
    margin: 40px;
    padding:40px;
    border: 1px solid #b7b7b7;
}
.right .news-create form label{
    display: block;
}
form .label-text{
    font-family: 'Scada', sans-serif;
    font-size: 20px;
    line-height: 2em;
    letter-spacing: -1px;
    font-weight: bold;
}
.right form input[type="text"] , .right form textarea{
    padding:5px;
    width:100%;
}
.right form textarea{
    max-width: 678px;
    min-width:678px;
    min-height: 300px;
}
.right form input[type="file"]{
    padding:10px;
    width:100%;
    font-family: 'Scada', sans-serif;
}

.right form input[type="submit"]{
    margin-bottom: 20px;
    padding-right: 3px;
    margin-right: 20px;
    border: none;
    font-family: 'Scada', sans-serif;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: bold;
    background-color: inherit;
    transition-property: all;
    transition-duration: 0.4s;
}
.right form input[type="submit"]:hover{
    color:rgb(82, 143, 188);
}

.right form .field-validation-error{
    color:red;
    font-weight:bold;
}