@model NewsWebSite.Models.ViewModel.UserViewModel

@{
    Layout = "~/Views/Shared/Lay.cshtml";
    ViewBag.Title = Model.UserName.Split('@');
}

<div class="user-information">
    <div class="img">
    </div>
    <span class="user-name">@Model.UserName.Split('@')[0]</span>
    <div class="tags">
        <h3>Мои теги:</h3>
        <form action="/Account/SaveOrUpdateUserTags" method="post">
            @TagListHelper.SelectedTagsList(Model.UserTags, Model.AllTags)
            <input type="submit" value="СОХРАНИТЬ" id="save-tag" />
        </form>
    </div>
</div>

@section scripts{
    <script>
    $('select').select2({
        tags:true
    });
    </script>
}




